<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Members club</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Welcome to the members club</h1>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Navigation</h5>
            <ul class="list-group">
              <% if (currentUser) { %>
                <li class="list-group-item"><a href="/membership" class="btn btn-info">Membership</a></li>
                <li class="list-group-item"><a href="/log-out" class="btn btn-danger">Log out</a></li>
                <% } %>
                  <% if (!currentUser) { %>
                    <li class="list-group-item"><a href="/sign-up" class="btn btn-primary">Sign Up</a></li>
                    <li class="list-group-item"><a href="/log-in" class="btn btn-success">Log In</a></li>
                    <% } %>
            </ul>
          </div>
        </div>

        <% if (currentUser) { %>
          <p>Logged in as: <%= currentUser.username %>
              <a href="/new">Create a new message</a>
              <% } %>
          </p>
          <h2>Messages</h2>
          <% messages.forEach(message=> { %>
            <div>
              <h2>
                <%= message.title %>
              </h2>
              <p>
                <%= message.body %>
              </p>
              <% if (currentUser && message.user) { %>
                <p>Author: <%= message.user.username %>
                </p>

                <p>Posted on: <%= message.timestamp %>
                </p>

                <% if (currentUser && currentUser.role==='admin' ) { %>
                  <form action="/messages/delete/<%= message._id %>" method="GET" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete Message</button>
                  </form>
                  <% } %>


                    <% } %>
            </div>
            <% }); %>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>